@model TestTask.Models.Contact;

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h1>Удаление контакта</h1>

    <h3>Вы действительно хотите удалить этот контакт?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfCreation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfChange)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfChange)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </form>
    </div>
    <div>
        <a asp-action="Index">Назад</a>
    </div>
</body>

